.root {
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-background-color: #1d1f28;
    -fx-text-fill: #e0e0e0;
    -fx-font-size: 14px;
}

.sidebar {
    -fx-background-color: #181a21;
    -fx-padding: 24 8 24 8;
}
.nav-btn {
    -fx-background-color: transparent;
    -fx-text-fill: #a0a3b1;
    -fx-font-size: 16;
}
.nav-btn:hover {
    -fx-background-color: #2a2d3a;
    -fx-text-fill: #ffffff;
}


.title    { -fx-font-size: 24; -fx-text-fill: #ffffff; }
.subtitle {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #d0d0d0;
}


.table-view, .tree-table-view {
    -fx-background-color: #20222b;
}
.table-view .column-header,
.tree-table-view .column-header {
    -fx-background-color: #2a2d3a;
}
.table-row-cell:selected,
.tree-table-row-cell:selected {
    -fx-background-color: #374151;
}


.filter-pane {
    -fx-background-color: #1d1f28;
    -fx-border-color: #2a2d3a;
}

.table-view .column-header .label,
.tree-table-view .column-header .label {
    -fx-text-fill: #d0d0d0;
    -fx-font-weight: bold;
}

.table-view .column-header .label,
.tree-table-view .column-header .label {
    -fx-text-fill: #d0d0d0;
    -fx-font-weight: bold;
}


.table-view .filler,
.tree-table-view .filler {
    -fx-background-color: #2a2d3a;
}

.filter-pane,
.filter-pane .label,
.filter-pane .check-box  {
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
}

.progress-bar .track {
    -fx-background-color: #2a2d3a;     /* gris foncé thème */
}

/* partie qui se remplit (mode déterminé) */
.progress-bar .bar {
    -fx-background-color: #3b82f6;  /* reprend l’accent */
}

.tree-table-view .placeholder .label {
    -fx-text-fill: #e0e0e0;      /* blanc du thème */
    -fx-font-style: italic;      /* option : italique plus discret */
}

#lblStatus {
    -fx-text-fill: #e0e0e0;      /* même blanc que le reste */
}